*{
    
    font-family: 'poppins',sans-serif;
}
h1{
    text-align: center;
}
input{
    position: relative; 
    left:42%; 
    margin-left: 0px;
}

ul{
    position: absolute;
    left:40%;
}
ul li{
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}
ul li.crossed{
    text-decoration: line-through;
}
ul li.crossed::before{
    content: " ";
}
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px 6px 2px 6px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }